html,
body {
  background-image: url(./images/arun-clarke-tictacbuilding-unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  display: grid;
  justify-content: center;
}

.jumbotron {
  margin: 5% auto;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  background-color: rgb(255, 255, 255, 0.9);
}

td {
  height: 150px;
  width: 150px;
  text-align: center;
  border: 5px solid rgb(255, 255, 255, 0.7);
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
  color: white;
  background-color: black;
}

table {
  margin: auto auto;
}
